<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="septemberpack.september" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/starsurge_icon"
        android:label="@string/gameLabel"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait"
            android:label="@string/gameLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="septemberpack.september.Game"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
